<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> 
</head>
<body>
    <header><%- include('../partials/headerLoggedin'); %></header>





    <p>Log en Aktivitet</p>
    <form action="/activitytracker/logActivity" method="POST">

      <div class="labelPair">
        <select name="activityTypeID" id="activityTypeID">
            <% activities.forEach(function(activity) { %>
                <option value="<%= activity.ActivityTypeID %>"><%= activity.ActivityName %></option>
            <% }); %>
        </select>
      </div>
      <div class="labelPair">
        <label for="duration">Hvor lang tid trænede du? (Minutter)</label>
        <input
          type="number"
          name="duration"
          id="duration"

        />
      </div>
      <div class="labelPair">
        <label for="dateTime">Tidspunkt</label>
        <input
          type="datetime-local"
          name="dateTime"
          id="dateTime">
      </div>
      <button type="submit">Log Aktivitet</button>
    </form>
</body>
<footer><%- include('../partials/footer'); %></footer>
</html>